<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>352951662592732</sid>
    <event-sheet>MenuEventSheet</event-sheet>
    <size>
        <width>1400</width>
        <height>900</height>
    </size>
    <margins>
        <horizontal>0</horizontal>
        <vertical>0</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="170788582499037">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="MenuBackground" uid="50">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>1408</width>
                        <height>928</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleText" uid="0">
                    <properties>
                        <text>TANKS</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial Narrow,-96,700,1</font>
                        <color>255,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>128</y>
                        <z>0</z>
                        <width>320</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StartGameButton" uid="1">
                    <properties>
                        <type>Button</type>
                        <text>START GRY</text>
                        <tooltip>Niech się zacznie zabawa</tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>896</x>
                        <y>480</y>
                        <z>0</z>
                        <width>128</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Instructions" uid="49">
                    <properties>
                        <text>Zadaniem graczy jest zniszczenie czołgu przeciwnika. Każdy czołg ma po 3 życia i 50 pocisków. Na mapie znajduja się też przeszkody, które można zniszczyc. Miłej zabawy! :)</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,204,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>256</x>
                        <y>352</y>
                        <z>0</z>
                        <width>256</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="InstructionsBegin" uid="51">
                    <properties>
                        <text>Instrukcje gry:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,204,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>288</x>
                        <y>320</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0.004386169</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ControlsBegin" uid="52">
                    <properties>
                        <text>Sterowanie:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,204,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>288</x>
                        <y>512</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Controls" uid="53">
                    <properties>
                        <text>Gracz niebieski: W,A,S,D - ruch SPACJA - strzał Gracz zielony: strzałki - ruch NUM0 - strzał ESC - restart gry</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,204,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>256</x>
                        <y>544</y>
                        <z>0</z>
                        <width>128</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
